<section class="collapse show home-section" id="home">
    <div class="card card-body bg-home text-white py-4">
        <h2 class="font-weight-light">Welcome! I'm glad you're here.</h2>
        <p>Since beginning my journey in this field, my dedication to the work and motivation to grow have led me to exceptional projects and experiences. Take a moment to explore my portfolio and don’t hesitate to reach out if you’d like to learn more.</p>
    </div>
    <div class="card card-body py-4">
        <h3>My Skills</h3>
        <p>This is a list of my skills, and yes, more will add up soon...</p>
        <hr>
        <div class="home-section__skills-container d-flex flex-row flex-wrap">
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">HTML</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">CSS</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">SCSS</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">Bootstrap</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">Javascript</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">JQuery</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">Python</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">Django</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">PostgreSQL</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">Git</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">GitHub</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">BitBucket</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">Heroku</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">Digital Ocean</span>
            <span class="badge badge-info badge-pill m-2 p-3 font-weight-normal">PythonAnywhere</span>
        </div>
    </div>
</section>