<section class="work-section collapse" id="work" data-bs-parent="#collapsibleZone">
    <div class="card card-body bg-work text-white py-4">
        <h2 class="font-weight-light">My Portfolio</h2>
        <p>A collection of my work over the years and the technologies they were built with.</p>
    </div>
    <div class="card card-body py-4">
        <h3 class="mb-3">What have I built?</h3>
        <div class="row">
            <div class="col-md-3">
                <img id="port_1" data-toggle="modal" data-target="#portfolioModal" class="img-fluid" src="img/Capture.PNG" alt="a sample django site">
                
                <!-- MODAL-->
                <div class="modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Project #1</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img class="img-fluid" src="img/Capture.PNG" alt="a sample django site"><br>
                                <p>This is a simple portfolio site with a blog attached deployed on Heroku. Scroll down for link.</p>
                                <div class="d-flex flex-row">
                                    <p class="mr-2">Built with:</p> 
                                    <ul class="list-unstyled">
                                        <li><i class="fas fa-check-square"></i> HTML/CSS/SCSS</li>
                                        <li><i class="fas fa-check-square"></i> Bootstrap</li>
                                        <li><i class="fas fa-check-square"></i> Django</li>
                                        <li><i class="fas fa-check-square"></i> Python</li>
                                        <li><i class="fas fa-check-square"></i> PostgreSQL</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="https://a21-portfolio-sample.herokuapp.com/" class="go-to btn bg-work" target="_blank">Go to site</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img id="port_2" data-toggle="modal" data-target="#portfolioModal1" class="img-fluid" src="img/product_hunt.PNG" alt="sample django page">
                
                <!-- MODAL-->
                <div class="modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">Project #2</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img class="img-fluid" src="img/product_hunt.PNG" alt="a sample django page"><br>
                                <p>This is a simple webapp built with Django and deployed on PythonAnywhere. A user can create a product and the products can get upvotes or downvotes. Scroll down for link.</p>
                                <div class="d-flex flex-row">
                                    <p class="mr-2">Built with:</p> 
                                    <ul class="list-unstyled">
                                        <li><i class="fas fa-check-square"></i> HTML/CSS/SCSS</li>
                                        <li><i class="fas fa-check-square"></i> Bootstrap</li>
                                        <li><i class="fas fa-check-square"></i> Django</li>
                                        <li><i class="fas fa-check-square"></i> Python</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="https://olaley.pythonanywhere.com/" class="go-to btn bg-work" target="_blank">Go to site</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img id="port_3" data-toggle="modal" data-target="#portfolioModal2" class="img-fluid" src="img/hidi.PNG" alt="my blog">
                
                <!-- MODAL-->
                <div class="modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Project #3</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img class="img-fluid" src="img/hidi.PNG" alt="my blog"><br>
                                <p>This is my personal blog where I write about bug fixes and anything tech. Scroll down for link.</p>
                                <div class="d-flex flex-row">
                                    <p class="mr-2">Built with:</p> 
                                    <ul class="list-unstyled">
                                        <li><i class="fas fa-check-square"></i> WordPress</li>
                                        <li><i class="fas fa-check-square"></i> CSS3</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="http://www.hidi.cf/" class="go-to btn bg-work" target="_blank">Go to site</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>